* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9f8ee;
    background: url("./Image/hbg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Homeheadtext {
    text-align: center;
    margin-top: 100px;
    font-size: 2.3rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 420;
    color: #203526;
    white-space: pre-wrap;
    line-height: 70px;
    text-shadow: 0px 2px 9px rgb(141, 141, 141);
}

.Headtext {
    text-align: center;
    margin-top: 120px;
    font-size: 2.1rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 420;
    color: #203526;
    white-space: pre-wrap;
    line-height: 64px;
    text-shadow: 0px 2px 9px rgb(113, 113, 113);
}

.HeadtextForm {
    text-align: center;
    margin-top: 30px;
    font-size: 2.1rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 420;
    color: #203526;
    white-space: pre-wrap;
    line-height: 64px;
    text-shadow: 0px 2px 9px rgb(164, 164, 164);
}

.Subtext {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 420;
    color: #203526;
    white-space: pre-wrap;
    text-shadow: 0px 2px 9px rgb(113, 113, 113);
}

.Button {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}

.inputblock {
    margin-top: 30px;
    border-radius: 12px;
    padding: 8px 30px;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 22px;
    border-color: #5f5f5f;
    border-width: 0px;
    outline: 0;
    box-shadow: 0px 4px 8px gray;
    display: flex;
    text-align: center;
}

/* .nextto {
    padding: 15px 18px;
    text-align: center;
        
} */

.create {
    /* max-width: 400px; */
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.ArrowLeft {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 28px;
    color: #16391E;
    cursor: pointer;
    text-align: left;
}

.BoxList {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 28px;
    color: #16391E;
    cursor: pointer;
    text-align: right;
}

.ArrowList {
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    display: flex;
}

.TextBox {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}

.BoxListText {
    margin-top: 24px;
    margin-left: 3px;
    font-size: 1.2rem;
    font-family: "Anuphan", sans-serif;
    font-weight: 420;
    color: #203526;
    text-shadow: 0px 2px 9px rgb(113, 113, 113);
}