* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-bg-login{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    /* ไว้แก้รูป */
    background: url("../Image/BgAdmin.jpg") no-repeat;
    /* ######### */
    background-color: #cacaca;
    background-size: cover;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
